:root {
    --text-font: 'Courier New', 'monospace';

}

.navbar {
    background-color: blueviolet;
    font-family: var(--text-font);
}

.nav-link {
    font-weight: 600 !important;
}

.nav-link.active {
    text-decoration: underline !important;
}